{{> header  }}								
	
<!-- Section 1 -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ebebeb">
    
    <tr>
        <td class="p30-15-0" style="padding: 30px 10px 0px;" bgcolor="#ffffff">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                
                <tr>
                    <td class="h2-center"style="color:#000000; font-family:'Barlow', sans-serif; font-size:30px; font-weight: 500; line-height:36px; text-align:center; padding-bottom:0px;">Contact Form Email</td>
                </tr>
                <tr>
                    <td class="h5-center"style="color:#a1a1a1; font-family:'Barlow', sans-serif; font-size:18px; line-height:22px; text-align:center; padding-top:5px; padding-bottom: 10px;">
                    Someone try to contact you with following details.
                    </td>
                </tr>
                <tr>
                    <td class="h5-center"style="color:#a1a1a1; font-family:'Barlow', sans-serif; font-size:18px; line-height:22px; text-align:center; padding-top:5px; padding-bottom: 10px;">
                    <p>Name:-  {{ name }} </p>
                    <p>Email:-  {{ email }} </p>
                    <p>Message:-  {{ message }} </p>
                    </td>
                </tr>
                
            </table>
        </td>
    </tr>
</table>
<!-- END Section 1 -->
{{> footer }}