
<!-- Section 1 -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ebebeb">
    
    <tr>
        <td class="p30-15-0" style="padding: 30px 10px 0px;" bgcolor="#ffffff">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                
                <tr>
                    <td class="h2-center"style="color:#000000; font-family:'Barlow', sans-serif; font-size:30px; font-weight: 500; line-height:36px; text-align:center; padding-bottom:0px;">Hello! </td>
                </tr>
                
                <tr>
                    <td class="text-center"style="color:#5d5c5c; font-family:'Barlow', sans-serif; font-size:16px; line-height:22px; text-align:center; padding-bottom:22px;">Your new pin is given below</td>
                </tr>
                <tr>
                    <td align="center">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="text-button-orange"style="background:#4668B1; color:#ffffff; font-family:'Barlow', sans-serif; font-size:27px; line-height:30px; text-align:center; padding:10px 40px; border-radius:3px;"><span class="link-white"style="color:#ffffff; text-decoration:none;">{{ password }}</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- END Section 1 -->