{{> header  }}								
		<!-- Section 1 -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ebebeb">

	<tr>
		<td class="p30-15-0" style="padding: 30px 30px 0px; text-align:left;"
			bgcolor="#ffffff">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">

				  <tr>
					<td class="h2-center"
						style="color:#000000; font-family:'Barlow', sans-serif; font-size:20px; font-weight: 500; line-height:30px;  padding-bottom:0px;">
						{{ heading }}, </td>
				</tr>

				<tr>
					<td class="h5-center"
						style="color:#666; font-family:'Barlow', sans-serif; font-size:18px; line-height:22px;  padding-top:5px; padding-bottom: 10px;">
						{{ sub_heading }}</td>
				</tr>             
                <tr>
					<td
						style="color:#5d5c5c; font-family:'Barlow', sans-serif; font-size:16px; line-height:22px; text-align:justify;  padding-bottom:22px;">
						{{ message }}
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- END Section 1 -->
{{> footer }}