
							<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="border-radius: 0px 0px 10px 10px; padding-bottom:20px">

						<td class="p30-15-0" style="padding: 0px 30px 0px; text-align:left;" bgcolor="#ffffff">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td
										style="color:#5d5c5c; font-family:'Barlow', sans-serif; font-size:14px; line-height:24px; text-align:justify;  padding-bottom:0px;padding-top:30px">

										Kind Regards,<br>
										<b> Test team</b><br>
										admin@test.com<br>
								</tr>

							</table>
						</td>
					</tr>
				</table>

				<!-- Footer -->
				
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="text-footer2 p30-15"
							style="padding: 30px 15px 50px 15px; color:#a9b6e0; font-family:'Barlow', sans-serif; font-size:12px; line-height:22px; text-align:center;">
							<multiline>© <a href="#" target="_blank" class="link-white"
									style="color:#ffffff; text-decoration:none;"> Test</a> 2019. All Rights
								Reserved.
						</td>
					</tr>
				</table>
				<!-- END Footer -->
			</td>
		</tr>
	</table>
	<!-- END Main -->

	</td>
	</tr>
	</table>
</body>

</html>